.container-forget-password-page{
    width: 500px;
    height: 400px !important;
    margin: auto;
    margin-top: 100px;
    background: rgb(243, 243, 243);
    border-radius: 4px;
    padding: 20px;
}
.text-forget-password{
    font-size: 20px;
    border-bottom: 1px solid rgb(223, 223, 223);
    padding-bottom: 20px;
    margin-bottom: 40px;
}
#email-error{
    color: red;
    margin-top: 10px;
}
.text-email-forget{
    color: rgb(75, 75, 75);
    margin-bottom: 20px;
}
.buttonSubmitForgetPassword{
    width: 100%;
    margin-top: 20px;
}